@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

header {
  padding: 1rem 1.5rem 0;
}
header h5 {
  margin: 0;
  letter-spacing: 1px;
  color: var(--primary);
  font-family: "Nosifer", cursive;
}
