<form
  id="form"
  [formGroup]="addShowForm"
  (ngSubmit)="addShow($event)"
  enctype="multipart/form-data"
>
  <label for="name">Show's name</label>
  <input
    formControlName="name"
    type="text"
    id="name"
    name="name"
    placeholder="Enter show's name"
    required
  />

  <div class="grid">
    <label for="lastSeenEpisode"
      >Last seen episode
      <input
        type="text"
        formControlName="lastSeenEpisode"
        id="lastSeenEpisode"
        name="lastSeenEpisode"
        placeholder="Enter last seen episode"
        required
      />
    </label>

    <label for="lastSeenSeason"
      >Last seen season
      <input
        type="text"
        formControlName="lastSeenSeason"
        id="lastSeenSeason"
        name="lastSeenSeason"
        placeholder="Enter last seen season"
        required
      />
    </label>
  </div>

  <div class="grid">
    <label for="upComingEpisode"
      >UpComing episode
      <input
        type="text"
        formControlName="upComingEpisode"
        id="upComingEpisode"
        name="upComingEpisode"
        placeholder="Enter upcoming episode"
        required
      />
    </label>

    <label for="upComingSeason"
      >UpComing season number
      <input
        type="text"
        formControlName="upComingSeason"
        id="upComingSeason"
        name="upComingSeason"
        placeholder="Enter upcoming season number"
        required
      />
    </label>

    <label for="dateOfRelease"
      >Date of release of the upcoming episode
      <input
        type="datetime-local"
        formControlName="dateOfRelease"
        id="dateOfRelease"
        name="dateOfRelease"
        required
      />
    </label>
  </div>

  <label for="showEmoji">Express your reaction to the show by an emoji</label>
  <select id="showEmoji" formControlName="showEmoji" required>
    <option *ngFor="let emoji of emojis" [ngValue]="emoji.value">
      {{ emoji.value }}
    </option>
  </select>

  <fieldset>
    <legend>Show's state</legend>
    <label for="ONGOING">
      <input
        type="radio"
        id="ONGOING"
        formControlName="showState"
        name="showState"
        value="ONGOING"
        checked
      />
      ONGOING
    </label>
    <label for="COMPLETE">
      <input
        type="radio"
        id="COMPLETE"
        formControlName="showState"
        name="showState"
        value="COMPLETE"
      />
      COMPLETE
    </label>

    <label for="completed">
      <input
        type="checkbox"
        id="completed"
        formControlName="completed"
        name="completed"
        role="switch"
      />
      Show completed
    </label>
  </fieldset>
  <label for="file"
    >Upload show poster
    <input
      type="file"
      id="file"
      name="file"
      accept="image/*"
      (change)="getFile($event)"
    />
  </label>
  <button role="button" class="btn outline" type="submit">Add show</button>
</form>
