:host > * {
  margin: 0;
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}
.dot {
  color: #d91b42;
  font-size: 1.4em;
}
.btn {
  width: 25%;
  margin: 1.25rem auto 0 auto;
}
@media (max-width: 576px) {
  .btn {
    width: auto;
  }
}
