<h3>Log in to your account <span class="dot">.</span></h3>
<small
  >Doesn't you have an account yet? <a routerLink="/signup">Sign up</a></small
>
<form id="form">
  <label for="username">Username</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder="Enter your username"
    required
  />
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="Enter your password"
    required
  />
  <a href="#" role="button" class="btn outline">Sign in</a>
</form>
