.dots {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.dots span {
  font-size: 21px;
  font-weight: bold;
  line-height: 0.35;
}
.dots:hover {
  color: beige;
  transform: scale(0.98);
}
.dots.showMenu {
  background-color: #545a60;
  color: #cac5d0;
  border-radius: 25px;
  height: 100%;
  padding-bottom: 0.5rem;
  padding-left: 2px;
}

.menu {
  display: none;
  position: absolute;
  top: 2.65rem;
  right: 3px;
  z-index: 10;
  background: black;
  border: 1px solid darkslategray;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  width: 60%;
}
.menu.showMenu {
  display: block;
}
.menu .menu-item {
  color: #545a60;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu .menu-item img {
  margin-right: 0.25rem;
}
.menu li {
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
}
.menu li:hover {
  background: silver;
}
