<app-shows-header></app-shows-header>
<div class="container">
  <div class="add" (click)="addShow()" data-tooltip="Add show">
    <img src="../../../../../../assets/add.svg" />
  </div>
  <h1 *ngIf="!isLoading && shows.length === 0" class="welcome">
    Welcome to our app, please add a show
  </h1>
  <ul class="shows">
    <li *ngFor="let show of shows">
      <article class="show" *ngIf="!isLoading">
        <header class="show-header">
          <strong>{{ show.name | uppercase }}</strong>
          <div
            class="dots"
            (click)="showMenu()"
            [ngClass]="isShownMenu ? 'showMenu' : ''"
          >
            <span>.</span>
            <span>.</span>
            <span>.</span>
          </div>
          <ul class="menu" [ngClass]="isShownMenu ? 'showMenu' : ''">
            <li>
              <div class="menu-item">
                <img src="../../../../../../assets/edit.svg" alt="edit" />
                Edit
              </div>
            </li>
            <li>
              <div class="menu-item" (click)="deleteShow(show.showId)">
                <img src="../../../../../../assets/trash.svg" alt="trash" />
                Delete
              </div>
            </li>
          </ul>
        </header>
        <img
          [src]="showImage(show.postImage)"
          class="poster"
          (click)="showDetails(show.showId)"
        />
        <footer class="show-footer">
          <span class="show-emoji">{{ show.showEmoji }}</span>
          <kbd>Completed:{{ show.completed ? "✅" : "❌" }}</kbd>
        </footer>
      </article>
    </li>
    <div *ngIf="isLoading" class="shows">
      <div class="placeholders" *ngFor="let i of placeHolderNumbers">
        <app-show-loader></app-show-loader>
      </div>
    </div>
  </ul>
</div>
