@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
ul,
li {
  list-style: none;
}
.poster {
  cursor: pointer;
  height: 16rem;
  object-fit: cover;
  border-radius: 25px;
}
.shows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.show {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 1rem;
}
.show-header {
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 6px;
}
.show-header strong,
.welcome {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #cac5d0;
}
.show-footer kbd {
  margin-left: auto;
  padding: 0.25rem 0.25rem;
}
.show-footer .show-emoji {
  background: #4c5a67;
  border-radius: 50%;
  padding: 0.25rem;
  height: 40px;
}
.show-header,
.show-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
}

.add {
  position: fixed;
  bottom: 1.75rem;
  right: 2rem;
  cursor: pointer;
  border-bottom: none;
  transition: transform 0.5s ease-in-out;
}
.add:hover {
  transform: scale(1.2);
}
.add img {
  width: 40px;
  height: 40px;
}
