@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
ul,
li {
  list-style: none;
}
.poster {
  cursor: pointer;
  height: 16rem;
  object-fit: cover;
  border-radius: 25px;
}
.shows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.show {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 1rem;
  position: relative;
}
.show-header {
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 6px;
}
.show-header strong,
.welcome {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #cac5d0;
}
.show-footer kbd {
  margin-left: auto;
  padding: 0.25rem 0.25rem;
}
.show-footer .show-emoji {
  background: #4c5a67;
  border-radius: 50%;
  padding: 0.25rem;
  height: 40px;
}
.show-header,
.show-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
}

.add {
  position: fixed;
  bottom: 1.75rem;
  right: 2rem;
  cursor: pointer;
  border-bottom: none;
  transition: transform 0.5s ease-in-out;
}
.add:hover {
  transform: scale(1.2);
}
.add img {
  width: 40px;
  height: 40px;
}

.dots {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.dots span {
  font-size: 21px;
  font-weight: bold;
  line-height: 0.35;
}
.dots:hover {
  color: beige;
  transform: scale(0.98);
}
.dots.showMenu {
  background-color: #545a60;
  color: #cac5d0;
  border-radius: 25px;
  height: 100%;
  padding-bottom: 0.5rem;
  padding-left: 2px;
}

.menu {
  display: none;
  position: absolute;
  top: 2.65rem;
  right: 3px;
  z-index: 10;
  background: black;
  border: 1px solid darkslategray;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  width: 60%;
}
.menu.showMenu {
  display: block;
}
.menu .menu-item {
  color: #545a60;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu .menu-item img {
  margin-right: 0.25rem;
}
.menu li {
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
}
.menu li:hover {
  background: silver;
}
