:root {
  --form-element-background-color: rgba(0, 0, 0, 0.8);
  --form-element-placeholder-color: auto;
  --form-element-spacing-vertical: 0.4rem;
  --form-element-spacing-horizontal: 0.65rem;
  --primary: #d91b42;
  --primary-hover: #f15f7c;
  --outline-width: 1px;
  --background-color: rgba(0, 0, 0, 0.8);
  --card-background-color: #15202b;
  --card-sectionning-background-color: #15202b;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

small {
  --font-size: 0.75em;
}
label {
  font-size: 0.8rem;
}
input {
  font-size: 0.75rem;
}
ul,
li,
ul li {
  padding-left: 0;
  list-style: none;
}
@media (max-width: 576px) {
  body {
    min-height: auto;
  }
}
